{% extends "main.html" %}
{% block content %}

<div class="container px-0 h-100">
  {% include "header.html" %}
  <section class="card shadow-sm rounded-1">
    <div class="card-header bg-white py-3">
      <p class="mb-0" style="font-size: 1.2rem">Novo Item</p>
    </div>
    <div class="card-body">
      <form method="POST" 
        action="{{ url_for("editar_item_categoria", categoria_id=categoria_id, item_id=item.id) }}">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="inputTitulo">
                <strong>Título:</strong>
              </label>
              <input type="text" name="titulo" class="form-control" value="{{ item.titulo }}" required maxlength="80">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="inputCategoria">
                <strong>Categoria:</strong>
              </label>
              <select class="form-control" name="categoria" id="selectCategoria" disabled>
                <option class="form-control" value="{{ item.categoria.id }}" selected>{{ item.categoria.nome }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputDescricao">
                <strong>Descrição:</strong>
              </label>
              <textarea class="form-control"
                id="inputDescricao" rows="4"
                placeholder="Descrição"
                name="descricao"
                maxlength="250" style="resize: none" required>{{ item.descricao }}</textarea>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <input class="btn btn-success" type="submit" value="Atualizar">
          <a class="btn btn-link text-muted px-0"
              href="{{ url_for("itens_categoria", categoria_id=categoria_id) }}">
              Voltar
          </a>
        </div>
      </form>
    </div>
  </section>
</div>

{% endblock %}