{% extends "main.html" %}
{% block content %}

<div class="container px-0 h-100">
  {% include "header.html" %}
  <section class="card shadow-sm rounded-1">
    <div class="card-header bg-white py-3">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-5 col-lg-5">
          <div class="d-flex flex-row justify-content-between px-2">
            <p class="mb-0" style="font-size: 1.2rem">Categorias</p>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for("novo_item_categoria") }}" style="font-size: 1.2rem">Novo item</a>
            {% endif %}
          </div>
        </div>
        <div id="ultimos-itens" class="col-md-7 col-lg-7">
          <div class="d-flex flex-row justify-content-center">
            <p class="mb-0" style="font-size: 1.2rem">Últimos itens</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5 divisor-categorias-itens">
          <div class="categorias-container pl-2">
            <ul>
              {% for categoria in categorias %}
              <li>
                <a href="#">{{ categoria.nome }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-7 col-lg-7">
          <div class="itens-categoria-container">
            <ul>
                {% for item in itens %}
                <li>
                    <p class="mb-0" style="font-size: 1.2rem">
                      {{ item.titulo }} 
                      <span class="ml-3 badge badge-secondary">{{ item.categoria.nome }}</span>
                    </p>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}